.navbar-brand {
    font-family: 'Roboto Slab', serif;
    color: maroon;
}

.navbar-brand:hover {
    color: maroon;

}

.nav-link:hover {
  color: maroon;
}

.navbar-nav .nav-link.active {
  color: maroon;
}

.intro-img {
  max-width: 238%;
}

#navbarcollapse {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width: 980px) {
    .nav-link {
        padding: 0;
    }

    .about-img {
      width: 500px;
      height: 200px;
      margin: 0px 50px
    }

    .about-body {
      margin-left: 50px;
    }

    .about-video {
      width: 400px;
      height: 200px;
      margin-left: 50px;
    }

  }

  .intro-head {
    font-family: 'Caveat', cursive;
  }

  .intro-body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .dropdown-item:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
    max-width: fit-content;
  }

  .about-head, .menu-head, .test-head {
    font-family: 'Caveat', cursive;
    font-size: 50px;
  }

  .red {
    color: #991515;
  }

  .about-img {
    max-width: 100%;
    height: fit-content;
  }

  .about-body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
  }

.card-1 {
  margin-left: 3rem;
  background: maroon;
  max-width: 20rem;
}

.cardtitle,.cardtitle-an {
  font-family: 'Roboto Slab', serif;
}

.myicon {
  font-size: 1rem;
}

.card-an {
background-color: white;
margin: 1.5rem;
transition: transform 0.2s;
max-width: 18rem;
}


.myicons {
  font-size: 3rem;
  color: maroon;
}

.cardtitle-an {
  color: black;
}

.card-an:hover {
  transform: scale(1.05);

}

.menu-link {
  color: black;
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 1rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid lightgray;
}

.menu-link:hover {
  color: #991515;
  border-bottom: 2px solid maroon;
}

/* .menu-link:active {
  color: maroon;
  border-bottom: 2px solid maroon;
  padding-bottom: 0.2rem;
} */
 
.menu-img {
  max-width: 90%;
}

.menu-row.row, .menu-main.row, .menu-sweet.row, #chefs.row, .footer-row.row {
    --bs-gutter-x: 0;
}

.form-table {
  max-width: 60%;
}

.form-contact {
  max-width: 80%;
}

.menu-img-l {
  max-width: 60%;
  padding-top: 3rem;
  margin-left: 5rem;
}

.menu-starter-head {
  color: maroon;
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 0.2rem;
}

.testimonials, #chefs, .gallery {
  background: #e8e4e3;
}

/* Reason behind scroll */
/* .remark.row, .book-table-form.row, .event-selection.row, .contact-form.row, .footer-row.row, menu-row.row {
  --bs-gutter-x: 0;
} */

.test, .test-name, .chef-content{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
}

.test-name {
  width: 100%;
  color: maroon;
  margin-left: 75%;
}

.event-content {
  margin-right: 14rem;
  color: white;
}

.event-img,.images {
  width: 100%;
  height: 100%;
}


.gallery-img {
  width: 33%;
}

.form-button {
  height: 2.5rem;
  width: 4.5rem;
  margin: 0.5rem;
}

#msg, #message {
  height: 8rem;
}

.contact-head {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 12rem;
  margin: 0 auto;
  border-bottom: 2px solid maroon;

}

.contact-head:hover {
  border-bottom: 2px solid black;
  color: maroon;
}

.footer {
  background: #474545;
  color: #f5f0f0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-icons {
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

.social-icons {
  color: #f5f0f0;
  font-size: 1.5rem;
  border: 1px solid white;
}

.social-icons:hover, .copyright-link:hover {
  color: maroon;
}


.margin {
  margin-left: 6rem;
}

.copyright-link{
  color: white;
}